body{
    background-color:hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.blog-container{
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
    max-width: 375px;
    width: 400px;
    padding: 20px;
    height: 65vh;
    margin: 0;
    border-radius: 15px;
}

.h1-hyperlink{
    color:black;
    text-decoration: none;
}

.h1-hyperlink:hover{
    color: hsl(47, 88%, 63%);
}

.button-container{
    padding-top: 3px;
    background-color: hsl(47, 88%, 63%);
}

.image-container{
    size: 40%;
}

.attribution { 
    padding-top: 3%;
    font-size: 11px; 
    text-align: center; 
}
    
.my-name{
    color:black;
    text-decoration:none;
}

.my-name:hover{
    color:black;
}

.frontend-hyper-link{
    color:black;
    text-decoration: none;
}

.frontend-hyper-link:hover{
    color:black;
}

.blog-avatar{
    display:flex;
    flex-direction: row;
}

.blog-avatar p{
    margin-left: 3%;
}

.avatar{
    height:45px;
}